{% extends "layout.html" %}

{% block content %}

    <div class="about">
        <h1 class="title">About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium voluptas quidem autem aut nemo. Neque ullam enim eaque ex voluptatum quae voluptatem, ea maxime eius possimus voluptate aliquid, facilis labore!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In eligendi eos ea a ratione labore qui praesentium, magni iure vel obcaecati quos consequuntur suscipit veritatis eaque! Atque, eveniet aspernatur. Temporibus!</p>
    </div>

{% endblock %}
